@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

#root {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

body {
  overflow-x: hidden;
}

.bg_rabbit_red {
  background-color: #e78472;
}
